<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration template</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="container">
        <center>
        <div class="title-container">
            <i class="fa-brands fa-github"></i>
            <h4>sign in to github</h4>
        </div>
        <div class="register-container">
             <form action="index.html">
                <label for="email">username or email address:</label>
                <input type="email" name="email" id="email">
                <br>
                <label for="password">password:</label>
                <br>
                <input type="password" name="password" id="password">
                <button>sign in to github</button>
                <br>
                <a href="" class="forgot">forgot password!</a>
             </form>
        </div>
        <div class="new-container">
            <h5>new to github ? <a href="">create account</a>
            </h5>
        </div>
        </center>
    </div>
</body>
</html>