<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new project</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <nav>
            <div class="container-information">
                <h3>taha <span></span></h3>
            </div>
            <div class="container-links">
                <ul>
                    <li><a href="">home</a></li>
                    <li><a href="">about</a></li>
                    <li><a href="">services</a></li>
                    <li><a href="">contact</a></li>
                </ul>
            </div>
            <div class="search-container">
                <input type="search" name="search" placeholder="search"><i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            </div>
        </nav>
        <div class="container-2">
            <div class="first-container-information">
                <h3>it's me taha</h3>
                <h4>web designer</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus <br> voluptatibus provident ipsam, culpa ducimus iste. Quo modi, animi quos <br> et rerum molestias voluptates qui accusamus nihil quidem sit quam iure.</p>
           <div class="container-icons">
            <ul>
                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
           </div>
            </div>
            <div class="last-container-information">
<div class="continue-buttons">
    <button class="first-button"><i class="fa-brands fa-twitter"></i>continue with twitter</button>
    <br>
    <button class="second-button"><i class="fa-brands fa-facebook"></i>continue with facebook</button>
</div>
<p class="or">or</p>
<form action="index.html">
    <input type="email" name="email" id="email" placeholder="Email address ">
    <input type="password" name="password" id="password" placeholder="your password"><br>
    <button type="submit">submit</button>
</form>
            </div>
        </div>
    </div>
</body>
</html>