*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/background-2.webp);
    background-position: center;
    background-size: cover;
}
.container-links ul li a::after{
    width: 0px;
    height: 2px;
    content: '';
    position: absolute;
    background-color: red;
    margin-top: 20px;
    margin-left: -47px;
}
.container-links ul li a:hover::after{
    width: 50px;
    transition:  1s;
    color: red;
    
}
.container-2{
    width: 900px;
    height: 500px;
    backdrop-filter: blur(2px);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.76);
    border-radius: 7px;
margin-top: -40px;
display: flex;
}
.container nav{
    display: flex;
    justify-content: space-around;
}
.container nav .container-information h3{
    position: relative;
    top: 30px;
    font-size: 40px;
    color: white;
    font-weight: 300;
    text-transform: capitalize;
}
.container-information h3 span::after{
    content: '';
    width: 6px;
    height: 6px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    margin-left: 16px;
    margin-top: 25px;
}
.container-links ul li{
    list-style: none;
    display: inline-block;
    margin-top: 50px;
    margin-left: 30px;
}
.container-links ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
.search-container{
    display: flex;
   
    width: 240px;
    height: 30px;
    position: relative;
    top: 40px;
    border-radius: 4px;
    border: 1px solid white;
}
.search-container input{
    width: 80%;
    height: 100%;
    background-color: transparent;
    outline: 0;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
}
.search-container i{
    color: white;
    margin-top: 6px;
    margin-left: 20px;
}
.first-container-information{
    color: white;
    position: relative;
    top: 170px;
    left: 30px;
}
.first-container-information h3{
    font-size: 40px;
    color: white;
    font-weight: 300;
    text-transform: capitalize;
    
}
.first-container-information h4{
    font-size: 20px;
text-transform: capitalize;
margin-bottom: 10px;
font-weight: 300;
margin-top: 10px;
}
.first-container-information p{
    font-size: 13px;
}
.container-icons ul li{
    list-style: none;
    display: inline-block;
    margin-top: 30px;
}
.container-icons ul li a{
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    color: white;
    background-color: red;
    margin-left: 4px;
}
.last-container-information{
    width: 300px;
    height: 300px;
    background-color:transparent;
    margin-left: 70px;
    margin-top: 100px;
    border-radius: 4px;
}
.continue-buttons{
    display: block;
    position: relative;
    top: 30px;
    left: 30px;
}
.continue-buttons .first-button{
    width: 80%;
    height: 40px;
    outline: 0;
    border: 0;
    background-color: dodgerblue;
    color: white;
  font-weight: 300;
  text-transform: capitalize;
    margin-bottom: 10px;
border-radius: 4px;
cursor: pointer;
}
.continue-buttons .first-button i{
    margin-right: 12px;
}
.continue-buttons .second-button{
    width: 80%;
    height: 40px;
    outline: 0;
    border: 0;
    background-color: royalblue;
    color: white;
    border-radius: 4px;
    text-transform: capitalize;
}
.container-icons ul li a:hover{
    border: 1px solid red;
    background-color: transparent;
    transition: background 1s;
}
.continue-buttons .second-button i{
    margin-right: 5px;
}
.or{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-weight: 400;
    color: white;
}
.or::before{
    width: 80px;
    height: 1px;
    position: absolute;
    background-color: white;
    content: '';
    margin-left: -90px;
    margin-top: 7px;
}
.or::after{
    width: 80px;
    height: 1px;
    position: absolute;
    background-color: white;
    content: '';
    margin-left: 10px;
    margin-top: 7px;
}
.last-container-information form{
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;
}
.last-container-information form input{
    width: 80%;
    height: 40px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 10px;
}
.last-container-information form button{
    width: 80%;
    height: 30px;
    background-color: royalblue;
    outline: 0;
    border: 0;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
}
.last-container-information form button:hover{
    width: 85%;
    height: 30px;
    background-color: transparent;
    border: 1px solid royalblue;
    transition: background 1s;
}